**/node_modules/

/blockchain/artifacts/
/blockchain/cache/
/blockchain/deployed_addresses.json

/frontend/dist/

**/__pycache__/
**/*.py[cod]
/media_processor/.venv/
/media_processor/mock_ipfs/*
!/media_processor/mock_ipfs/.gitkeep

.env
.env.*
!.env.example
npm-debug.log*